* {
	padding: 0;
	margin: 0;
}

body, html {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

html { 
	height: 100vh;
	background-image: url(gaming2.jpg);
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*Remember this order below for container. 
Use flex direction Column to get stuff
evenly lined down the web page. 
And the Center to center it.*/
.container { 
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.text {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-wrap: wrap;
	flex-direction: column;
}

.text h2 {
	padding: 60px;
	margin-bottom: 40px;
	margin-top: 45px;
	font-family: 'Play', sans-serif;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 4em;
	color: white;
}

span {
	font-family: 'Play', sans-serif;
	color: rgb(255,0,0,);
}

.btn {
	font-family: 'Play', sans-serif;
	text-transform: uppercase;
	border-radius: 300px;
	background-color: rgb(255,0,0);
	border-color: rgb(255,0,0);
}

.btn-primary {
	padding: 1rem 2rem;
}

.btn-lg {
	background-color: rgb(255,0,0);
  	border-color: rgb(255,0,0);
}

.btn:hover {
	border-width: 5px;
	background-color: rgb(255,0,0);
	border-color: rgb(255,0,0);
}
